#header {
	position: fixed;
	background: $white;
	width: 100%;
	padding: 17px 10px 19px;
	border-top: 1px solid #979797;
	border-bottom: 1px solid #979797;
	line-height: 1.2;
	z-index: 10;

	@include media('>=tablet') {
		padding: 25px 20px 17px;
	}

	@include media('>=1550px') {
		padding: 19px 54px 14px 77px;
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	& + #main {
		margin: 76px 0 0;

		@include media('>=widescreen') {
			margin: 91px 0 0;
		}
	}
	
	.logo {
		display: block;
		width: 135px;
		@include rem-font-size(16px);
		// font-size: 16px;
		line-height: 22px;
		position: relative;
		padding: 5px;
		z-index: 10;

		@include media('>=tablet') {
			width: 205px;
		}

		@include media('>=1400px') {
			width: 255px;
		}

		a {
			display: block;
		}
	}
}

.languege-list {
	line-height: 1;
}

.container-holder {
	display: block;

	@include media('>=widescreen') {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main-nav {
	// @include rem-font-size(16px);
	font-size: 16px;
	line-height: 30px;
	z-index: 1;

	.nav-opener {

		display: block;
		position: absolute;
		top: 16px;
		right: 26px;
		width: 36px;
		height: 40px;
		border-radius: 3px;
		text-indent: -9999px;
		overflow: hidden;
		z-index: 11;
		outline: none;

		@include media('>=tablet') {
			top: 31px;
		}

		@include media('>=widescreen') {
			display: none;
		}

		&:hover {
			opacity: .65;
		}

		&:before,
		&:after,
		span {
			@include animate(opacity transform);

			background: $red;
			position: absolute;
			top: 19px;
			left: 0;
			right: 0;
			height: 7px;
			margin-top: -2px;
		}

		&:before {
			content: '';
			top: 5px;
		}

		&:after {
			content: '';
			top: 33px;
		}
	}

	.nav-drop {
		position: absolute;
		top: 35vh;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		z-index: 11;
		text-align: center;
		overflow-y: auto;
		padding: 0;

		@include media('>=phone') {
			height: 230px;
		}

		@include media('>=tablet') {
			height: 500px;
			font-weight: 500;
		}

		@include media('>=desktop') {
			height: auto;
		}

		@include media('>=widescreen') {
			position: relative;
			top: auto;
			visibility: visible;
			opacity: 1;
			background: transparent;
			text-align: left;
			z-index: 1;
		}

		.nav-list {
			@extend %listreset;

			width: 100%;

			@include media('>=widescreen') {
				padding: 0 48px 0 0;
			}

			@include media('>=1400px') {
				padding: 0 55px 0 0;
			}

			@include media('>=1550px') {
				padding: 0 147px 0 0;
			}
		}

		li {
			margin: 0 0 15px;
			padding: 0;

			@include media('>=tablet') {
				margin: 0 0 20px;
			}

			@include media('>=widescreen') {
				margin: 0 0 0 20px;
				display: inline-block;
			}

			@include media('>=1225px') {
				margin: 0 0 0 29px;
			}

			@include media('>=1400px') {
				margin: 0 0 0 20px;
			}

			@include media('>=1550px') {
				margin: 0 0 0 36px;
			}
		}

		a {
			display: inline-block;
			padding: 3px 5px;
			color: #fff;
			text-decoration: none;
			// @include rem-font-size(24px);
			font-size: 24px;

			@include media('>=tablet') {
				// @include rem-font-size(28px);
				font-size: 28px;
			}

			@include media('>=widescreen') {
				color: #000;
				// @include rem-font-size(16px);
				font-size: 16px;
			}

			@include media('>=1400px') {
				// @include rem-font-size(18px);
				font-size: 18px;
			}

			&:hover {
				color: $red;
			}
		}
	}
}

.head-box {

	position: absolute;
	top: 70px;
	left: 30px;
	display: flex;
	align-items: center;
	z-index: 11;
	opacity: 0;
	visibility: hidden;
	width: 100%;

	@include media('>=tablet') {
		top: 110px;
		font-weight: 500;
	}

	@include media('>=widescreen') {
		opacity: 1;
		visibility: visible;
		position: static;
		margin: 0 0 3px;
		width: auto;
		right: 30px;
		left: auto;
		padding-right: 26px;
	}

	@include media('>=1400px') {
		padding-left: 0;
	}

	.open-close {
		&.active {
			@include media('>=widescreen') {
				.form-authorization {
					background: rgba(#ccc, .45);
				}
			}
		}
	}
}

.form-opener {
	@include animate(transform);

	position: relative;
	display: inline-block;
	vertical-align: middle;
	// @include rem-font-size(14px);
	font-size: 14px;
	margin: 0 20px 0 0;
	outline: none;
	color: $white;
	z-index: 10;

	@include media('>=tablet') {
		// @include rem-font-size(18px);
		font-size: 18px;
		margin: 0 35px 0 0;
		color: $black;
	}

	&:before {
		@include animate(color);
		
		content: $icon-search;
		position: absolute;
		font-family: 'icomoon';
		top: 50%;
		left: -10px;
		transform: translateY(-50%);
		color: $red;
		// @include rem-font-size(20px);
		font-size: 20px;

		@include media('>=tablet') {
			left: -3px;
			// @include rem-font-size(27px);
			font-size: 27px;
		}

	}

	&:hover {
		&:before {
			color: #ccc;
		}
	}

	&:focus {
		outline: none;
	}
}

.form-authorization {
	@include animate(background);
	position: absolute;
	background: transparent;
	top: 50px;
	left: -15px;
	right: 40px;
	z-index: 10;

	@include media('>=widescreen') {
		top: 101%;
		padding: 15px;
		right: 5%;
		left: auto;
	}
	
	.input-holder {
		position: relative;

		&:before {
			@include animate(color);

			content: $icon-search;
			position: absolute;
			font-family: 'icomoon';
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			// @include rem-font-size(18px);
			font-size: 18px;
			color: $red;
			z-index: 1;
		}

		input[type=search] {
			width: 100%;
			border: 1px solid $burgundy;
			padding: 10px 30px 10px 10px;
			// @include rem-font-size(14px);
			font-size: 14px;

			@include media('>=tablet') {
				// @include rem-font-size(18px);
				font-size: 18px;
			}

			@include media('>=widescreen') {
				max-width: 320px;
			}
		}

		input[type=submit] {
				position: absolute;
				top: 50%;
				right: 5px;
				transform: translateY(-50%);
				width: 25px;
				height: 25px;
				display: inline-block;
				text-indent: -9999px;
				border: none;
				background: transparent;
				outline: none;
				z-index: 2;
		}
	}
}

.login {
	position: relative;
	display: block;
	color: $white;
	// @include rem-font-size(14px);
	font-size: 14px;
	margin: 0 31px 0 0;
	z-index: 2;

	@include media('>=tablet') {
		// @include rem-font-size(18px);
		font-size: 18px;
	}

	@include media('>=widescreen') {
		color: $black;
	}

	&:hover,
	&:focus {
		color: $red;
		text-decoration: none;
		outline: none;
	}
}

.nav-active {
	#header {

		@include media('<=widescreen') {
			background: transparent;
			border: none;
		}
	}

	#wrapper {

		@include media('<widescreen') {
			position: relative;
			height: 100vh;

			&:before {
				top: 0;
				bottom: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.nav-opener {
		span {
			opacity: 0;
		}

		&:after,
		&:before {

			transform: rotate(45deg);
			top: 16px;
			left: 15%;
			right: 15%;
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	.main-nav .nav-drop {
		visibility: visible;
		opacity: 1;
		
		@include media('<=widescreen') {
			padding: 0 0 20px;
		}
	}

	.head-box {
		opacity: 1;
		visibility: visible;
	}
}